body {
  padding-top: 70px;
  padding-bottom: 30px;
 
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
table td,
  table th {
	color: #2b686e;
	padding: 10px;
  }
  table td {
    text-align: left;
    vertical-align: middle;
    font-size: 0.65em;
    }
    table td:last-child {
    font-size: 0.65em;
    line-height: 5.4; /* 행 높이*/
    text-align: left;
    }
    table th {
    background-color: #daeff1;
    font-weight: 300;
    }
    table tr:nth-child(2n) {
    background-color: white;
    }
    table tr:nth-child(2n + 1) {
    background-color: #edf7f8;
    }
    img {
      border: 1px solid;
      border-color: #daeff1;
      height: 60px;
      margin: 0.5rem 0;
      width: 60px;
    }
   .table {border: 4px solid #327a81;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 1em auto;
	  overflow: hidden;

   }
   a{
     color: white;
    
   }
   .center {
      width: 200px; /* 정렬하려는 요소의 넓이를 반드시 지정 */ 
      margin: 0 auto; 
      
      
      
    }
    .table2 {border: 4px solid #72076d;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      margin: 1em auto;
      overflow: hidden;
    }
    table td:first-child{
      font-size: 2.1em;
    }
    .form-signin {
      width: 100%;
      max-width: 420px;
      padding: 15px;
      margin: auto;
    }
    
    .form-label-group {
      position: relative;
      margin-bottom: 1rem;
    }
    
    .form-label-group input,
    .form-label-group label {
      height: 3.125rem;
      padding: .75rem;
    }
    
    .form-label-group label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0; /* Override default `<label>` margin */
      line-height: 1.5;
      color: #495057;
      pointer-events: none;
      cursor: text; /* Match the input under the label */
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
    }
    
    .form-label-group input::-webkit-input-placeholder {
      color: transparent;
    }
    
    .form-label-group input::-moz-placeholder {
      color: transparent;
    }
    
    .form-label-group input:-ms-input-placeholder {
      color: transparent;
    }
    
    .form-label-group input::-ms-input-placeholder {
      color: transparent;
    }
    
    .form-label-group input::placeholder {
      color: transparent;
    }
    
    .form-label-group input:not(:-moz-placeholder-shown) {
      padding-top: 1.25rem;
      padding-bottom: .25rem;
    }
    
    .form-label-group input:not(:-ms-input-placeholder) {
      padding-top: 1.25rem;
      padding-bottom: .25rem;
    }
    
    .form-label-group input:not(:placeholder-shown) {
      padding-top: 1.25rem;
      padding-bottom: .25rem;
    }
    
    .form-label-group input:not(:-moz-placeholder-shown) ~ label {
      padding-top: .25rem;
      padding-bottom: .25rem;
      font-size: 12px;
      color: #777;
    }
    
    .form-label-group input:not(:-ms-input-placeholder) ~ label {
      padding-top: .25rem;
      padding-bottom: .25rem;
      font-size: 12px;
      color: #777;
    }
    
    .form-label-group input:not(:placeholder-shown) ~ label {
      padding-top: .25rem;
      padding-bottom: .25rem;
      font-size: 12px;
      color: #777;
    }
    
    /* Fallback for Edge
    -------------------------------------------------- */
    @supports (-ms-ime-align: auto) {
      .form-label-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
      }
    
      .form-label-group label {
        position: static;
      }
    
      .form-label-group input::-ms-input-placeholder {
        color: #777;
      }
    }
   /*
   버튼 컬러 번경
    .btn-primary1{
      color:rgb(0, 0, 0);background-color:#fffb00;border-color:#313f00
    }
    .btn-primary2{
      color:#fff;background-color:#337ab7;border-color:#2e6da4
    }
    */
    .button-center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .btn {		
      position: relative;	
      padding: 1.4rem 4.2rem;
      padding-right: 3.1rem;
      font-size: 1.4rem;
      color: var(--inv);
      letter-spacing: 1.1rem;
      text-transform: uppercase;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
      cursor: pointer;
      user-select: none;
    }
    
    .btn:before, .btn:after {
      content: '';
      position: absolute;	
      transition: inherit;
      z-index: -1;
    }
    
    .btn:hover {
      color: var(--def);
      transition-delay: .5s;
    }
    
    .btn:hover:before {
      transition-delay: 0s;
    }
    
    .btn:hover:after {
      background: var(--inv);
      transition-delay: .35s;
    }
    
    /* From Top */
    
    .from-top:before, 
    .from-top:after {
      left: 0;
      height: 0;
      width: 100%;
    }
    
    .from-top:before {
      bottom: 0;	
      border: 1px solid var(--inv);
      border-top: 0;
      border-bottom: 0;
    }
    
    .from-top:after {
      top: 0;
      height: 0;
    }
    
    .from-top:hover:before,
    .from-top:hover:after {
      height: 100%;
    }
    
    /* From Left */
    
    .from-left:before, 
    .from-left:after {
      top: 0;
      width: 0;
      height: 100%;
    }
    
    .from-left:before {
      right: 0;
      border: 1px solid var(--inv);
      border-left: 0;
      border-right: 0;	
    }
    
    .from-left:after {
      left: 0;
    }
    
    .from-left:hover:before,
    .from-left:hover:after {
      width: 100%;
    }
    
    /* From Right */
    
    .from-right:before, 
    .from-right:after {
      top: 0;
      width: 0;
      height: 100%;
    }
    
    .from-right:before {
      left: 0;
      border: 1px solid var(--inv);
      border-left: 0;
      border-right: 0;	
    }
    
    .from-right:after {
      right: 0;
    }
    
    .from-right:hover:before,
    .from-right:hover:after {
      width: 100%;
    }
    
    /* From center */
    
    .from-center:before {
      top: 0;
      left: 50%;
      height: 100%;
      width: 0;
      border: 1px solid var(--inv);
      border-left: 0;
      border-right: 0;
    }
    
    .from-center:after {
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      background: var(--inv);
    }
    
    .from-center:hover:before {
      left: 0;
      width: 100%;
    }
    
    .from-center:hover:after {
      top: 0;
      height: 100%;
    }
    
    /* From Bottom */
    
    .from-bottom:before, 
    .from-bottom:after {
      left: 0;
      height: 0;
      width: 100%;
    }
    
    .from-bottom:before {
      top: 0;	
      border: 1px solid var(--inv);
      border-top: 0;
      border-bottom: 0;
    }
    
    .from-bottom:after {
      bottom: 0;
      height: 0;
    }
    
    .from-bottom:hover:before,
    .from-bottom:hover:after {
      height: 100%;
    }
    
    
    /* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */
    
    *, *:before, *:after {
      box-sizing: border-box;
    }
    
  
  body {
    --def: #96B7C4; 	
    --inv: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
  }
  
  .html {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
  }
  .fontcrew{
    font-size: 20px;
  }